<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kraos.querycalendar">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:exported="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.DragToCollectActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TwoPagerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MultiTouchViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CustomLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TestCalenderHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TestPhotoPickerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CountdownTimerTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ZoomPagerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TestKeyBoardActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.TestPopupActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TestTextColorFormatActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ComposeTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SwipeStackCardActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SwipeStrangerCardActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TestProxyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ScalableImageViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TagLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MaterialEditTextActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CameraViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ImageTextActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PieChartActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DashBoardActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TestCustomViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TestAnimateActivity"
            android:exported="false" />
        <activity
            android:name=".activity.KotlinTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.IllegalStateTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CoroutinesTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DatePickerTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RichEditorTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ScheduleTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DragViewTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TestDragViewActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TestSelectActivity"
            android:exported="false" />
    </application>

</manifest>